<footer class="footer mt-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><a href="#">productoastore&#64;productstore.com</a></li>
            <li><a href="#">+56 9 12345678</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Sobre nosotros</h5>
          <ul class="list-unstyled">
            <li><a href="#">Nuestra Historia</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Síguenos</h5>
          <ul class="list-unstyled">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Visitanos</h5>
          <ul class="list-unstyled">
            <li><a href="#">Teléfono: +56 2 4176523</a></li>
            <li><a href="#">Dirección: 123 Calle La Store, Santiago</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  