<div class="container mt-5">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre Usuario</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="mt-3">
      <a href="#" data-bs-toggle="modal" data-bs-target="#recoverModal">Recuperar Contraseña</a>
    </div>
  </div>
  
  <!-- Modal para recuperar Contraseña -->
  <div class="modal fade" id="recoverModal" tabindex="-1" aria-labelledby="recoverModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recoverModalLabel">Recuperar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onRecover()">
            <div class="mb-3">
              <label for="recover-email" class="form-label">Ingrese su correo electrónico</label>
              <input type="email" class="form-control" id="recover-email" [(ngModel)]="recoverEmail" name="recoverEmail" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  