<div class="container mt-5">
    <h2>Registrarse</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre Usuario</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
        <div class="invalid-feedback">El Nombre Usuario no puede estar vacío.</div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
        <div class="invalid-feedback">El Nombre no puede estar vacío.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        <div class="invalid-feedback">La Contraseña debe tener un largo entre 6-15 caracteres, contener al menos un número y una mayúscula.</div>
      </div>
      <div class="mb-3">
        <label for="repeatPassword" class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control" id="repeatPassword" [(ngModel)]="repeatPassword" name="repeatPassword" required>
        <div class="invalid-feedback">Las contraseñas no coinciden.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        <div class="invalid-feedback">Por favor ingresar un email válido.</div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
        <div class="invalid-feedback">Por favor ingresar un teléfono válido.</div>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="terms" [(ngModel)]="terms" name="terms" required>
        <label class="form-check-label" for="terms">Aceptar términos y condiciones</label>
        <div class="invalid-feedback">Debes aceptar los términos y condiciones.</div>
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
  