<div class="container mt-4">
    <header>
        <h1 class="text-center">Liga Chilena</h1>
    </header>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
            <div class="card h-100">
                <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price | currency:'USD':'symbol':'1.0-0' }}</p>
                    <button class="btn btn-primary mt-auto" (click)="addToCart(product)">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><a href="#">lacamisetastore&#64;lacamisetastore.com</a></li>
                    <li><a href="#">+56 9 12345678</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Sobre nosotros</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Nuestra Historia</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Visitanos</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Teléfono: +56 2 4176523</a></li>
                    <li><a href="#">Dirección: 123 Calle La Camiseta, Santiago</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
